@charset "utf-8";
html, body, div, p, div, ul, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, img, form, embed, label, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    line-height: 1;
}
body {
    font-family: arial, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
    font-size: 14px;
    line-height: 150%;
    overflow: auto;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}
html,body{
    height: 100%;
}
a {
    color: #0b9cd8;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
    font-weight: normal;
}
button {
    border: 1px solid transparent;
    outline: none;
}
